.btn{
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  font-family: $font;
  @include respond-to(sm){
    padding: 0 10px;
  }
  &.btn-lg{
    height: 56px;
    @include respond-to(sm){
      height: 48px;
    }
  }
  &.btn-sm{
    height: 40px;
    @include respond-to(md){
      height: 32px;
    }
  }
  &.btn-default{
    @include fsz(20px);
    font-weight: $weight-black;
    color: $color-white;
    background: $color-primary-500;
    padding: 0 24px;
    min-width: 232px;
    border: 2px solid transparent;
    &:hover{
      border-color: $color-primary-500;
      background: none;
      color: $color-primary-500;
    }
  }
  &.btn-w-arrow{
    justify-content: space-between;
    i{
      @include fsz(14px);
      transition: inherit;
    }
    &:hover{
      i{
        transform: translateX(10px);
      }
    }
  }
  &.btn-bordered{
    background: none;
    color: $color-primary-500;
    border: 1px solid;
    @include fsz(16px);
    font-weight: $weight-regular;
    @include respond-to(md){
      @include fsz(14px);
    }
    &:hover{
      background: $color-primary-500;
      color: $color-white;
      border-color: $color-primary-500;
    }
    i{
      @include fsz(11px);
      &:before{
        width: auto;
      }
    }
  }
}
