.img-responsive{
  display: block;
  width: 100%;
}

.slideshow img {
	opacity: 0;
}
.slideshow img:not(.initial) {
	transition: opacity 1s;
}
.slideshow img.initial,
.slideshow img.loaded,
.slideshow img.error {
	opacity: 1;
}
