.img-responsive{
  display: block;
  width: 100%;
}

.gallery img {
	opacity: 0;
}
.gallery img:not(.initial) {
	transition: opacity 1s;
}
.gallery img.initial,
.gallery img.loaded,
.gallery img.error {
	opacity: 1;
}
