{{ define "main" }}
  <div class="wrapper">
    <header class="site-header">
      {{ $picture :=  replaceRE "(\\s)" "_" .Site.Params.logo }}
      <a class="site-header__logo" href="{{ .Site.BaseURL }}"><img src="{{ $picture | relURL }}" alt="{{.Site.Title}}"></a>
    </header>

    <section class="portfolio">
      <div class="portfolio-top__wrap">
        <div class="portfolio-top">
          <ol class="portfolio-top__inner">
            <li class="active">
              <picture>
                {{ $picture :=  replaceRE "(\\s)" "_" .Site.Params.no_found_bg }}
                {{ $image_ext_res := path.Ext $picture }}
                <source type="image/webp" srcset="{{ replace $picture $image_ext_res ".webp" | relURL }}">
                <img class="img-responsive" srcset="{{ $picture | relURL }}" alt="…">
              </picture>
              <div class="portfolio-top__404">
                <h1>
                  <div class="portfolio-top__404-number">404</div>
                  {{ .Site.Params.no_found_text }}
                </h1>
                <a class="btn btn-lg btn-default btn-default--non-transparent" href="{{ .Site.BaseURL }}">Home</a>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
{{ end }}
