[id*="portfolio_item"] > div > [class*="ListItem"]:nth-child(-n+6) > [class*="TopBar"] {
	 background: rgb(221, 245, 249);
}
[id*="portfolio_item"] > div > [class*="ListItem"]:nth-child(-n+6) > [class*="TopBar"]:after {
  content: 'Favorite';
  position: absolute;
  right: 40px;
  color: #fff;
  top: 0;
  transform: translateY(-50%);
  font-size: 13px;
  background: rgb(23, 162, 184);
  padding: 1px 6px;
  border-radius: 3px;
  pointer-events: none;
}
[id*="portfolio_item"] > div > [class*="ListItem"]:nth-child(-n+6) > [class*="TopBar"] ~ [class*="css"] {
	 border-color: rgb(221, 245, 249);
}
[id*="portfolio_item"] > div > [class*="ListItem"]:nth-child(-n+6) > [class*="TopBar"] ~ [class*="NestedObjectLabel"] {
	 background: rgb(221, 245, 249);
}
