//--- Color Variables
$color-black: #000000;
$color-white: #ffffff;

$color-neutral-700: #343232;
$color-neutral-500: #5f5d5d;
$color-neutral-300: #b9b8b8;
$color-neutral-100: #f7f7f7;

$color-primary-500: #e20714;
