.site-header {
  padding: 21px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  @include respond-to(sm){
    padding: 16px 0;
  }
	&__logo {
    position: relative;
    z-index: 2;
    img{
      @include respond-to(sm){
        width: 120px;
      }
    }
	}

}

.toggle-menu {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 30px;
  z-index: 4;
  &.is-pushed{
    .toggle-menu__inner{
      background: transparent;
      &:before, &:after{
        transform: rotate(45deg);
        top: 0;
      }
      &:after{
        top: auto;
        transform: rotate(-45deg);
        bottom: 0;
        right: auto;
        width: 16px;
      }
    }
  }
  &__inner {
    width: 16px;
    height: 1px;
    background: $color-neutral-500;
    @include center(both);
    &:before, &:after{
      content: "";
      display: block;
      width: 16px;
      height: 1px;
      background-color: $color-neutral-500;
      position: absolute;
      transition: 250ms;
      will-change: transform;
    }
    &:before{
      top: -5px;
    }
    &:after{
      width: 8px;
      right: 0;
      bottom: -5px;
    }
  }
}

.site-nav {
  position: relative;
  z-index: 2;
  @include respond-to(sm){
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    display: flex;
    transform: translateY(-110%);
    transition: 300ms;
    background: $color-white;
    border-bottom: 2px solid $color-neutral-100;
    &.active{
      transform: none;
    }
  }
  ul{
    display: flex;
    @include respond-to(sm){
      padding: 110px 0 40px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
    }
  }
	&__item {
    margin-left: 54px;
    @include respond-to(sm){
      margin-left: 0;
      margin-bottom: 20px;
    }
	}

	&__link {
    color: $color-black;
    @include fsz(16px);
    &:hover{
      color: $color-primary-500;
    }
    &:before{
      content: '+';
      color: $color-primary-500;
    }
	}

	&__instagram {
    margin-left: 54px;
    @include respond-to(sm){
      margin-left: 0;
      margin-top: 10px;
    }
    a{
      color: $color-neutral-300;
      @include fsz(17px);
      &:hover{
        color: $color-primary-500;
      }
    }
	}

}
