<div class="about" id="about-comm">
  <div class="container pb-56 pb-120-sm pl-0 pr-0">
    <div class="pl-0 pr-0 pl-24-lg pr-24-lg">
      <div class="subheading">About us</div>
      <h1>{{ .Site.Data.about_commercial.about_heading }}</h1>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="about-photo">
            <div class="about-photo__image">
              <div class="about-photo__image-inner">
                <picture>
                  {{ $picture :=  replaceRE "(\\s)" "_" .Site.Data.about_commercial.top.about_pic }}
                  {{ $image_ext_res := path.Ext .Site.Data.about_commercial.top.about_pic }}
                  <source type="image/webp" srcset="{{ replace $picture $image_ext_res ".webp" | relURL }}">
                  <img class="img-responsive" srcset="{{ $picture | relURL }}" alt="…">
                </picture>
              </div>
              <div class="about-badge"><span data-time="{{.Site.Data.about_commercial.top.year}}">14</span>years of<br> experience</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 mt-128 mt-0-sm">
          <div class="heading-text mb-24 mb-64-md pl-112-xl pr-24-xl">
            {{ .Site.Data.about_commercial.top.heading | markdownify}}
          </div>
          <div class="pl-112-xl">
            <div class="row">
              <div class="col-12 col-xl-5 mb-24 mb-32-md mb-0-xl">
                <p>{{ .Site.Data.about_commercial.top.paragraph_1}}</p>
              </div>
              <div class="col-12 col-xl-7">
                <p>{{ .Site.Data.about_commercial.top.paragraph_2}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container--sm pt-48-sm pt-160-md pl-0 pr-0">
    <div class="row">
      <div class="col-12 col-md-4">
        {{ range .Site.Data.about_commercial.bottom.left_column }}
        <div class="about-info-block pr-0 pr-64-lg">
          <h3 class="mb-24 mb-40-md">{{ .heading | markdownify}}</h3>
          <div>
            {{ if in (string .text) "\n\n" }}
              {{ .text | markdownify }}
            {{ else }}
              <p>{{ .text | markdownify}}</p>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>

      <div class="col-12 col-md-8 mt-56 mt-0-md">
        <h2>{{ .Site.Data.about_commercial.bottom.right_column.heading }}</h2>
        <div class="heading-text mb-32 mb-64-md pr-40">
          {{ .Site.Data.about_commercial.bottom.right_column.subheading | markdownify }}
        </div>
        <div class="row">
          <div class="col-12 col-sm-10">
            {{ with .Site.Data.about_commercial.bottom.family_pic }}
            <picture>
              {{ $picture :=  replaceRE "(\\s)" "_" . }}
              {{ $image_ext_res := path.Ext . }}
              <source type="image/webp" srcset="{{ replace $picture $image_ext_res ".webp" | relURL }}">
              <img class="img-responsive mb-32 mb-48-sm" srcset="{{ $picture | relURL }}" alt="…">
            </picture>
            {{ end }}
            {{ if in (string .Site.Data.about_commercial.bottom.right_column.text) "\n\n" }}
              {{ .Site.Data.about_commercial.bottom.right_column.text | markdownify }}
            {{ else }}
              <p>{{.Site.Data.about_commercial.bottom.right_column.text | markdownify}}</p>
            {{ end }}
          </div>
        </div>
        <hr>
        <div class="row">
          {{ range .Site.Data.about_commercial.bottom.right_column.two_column_block }}
          <div class="col-12 col-sm-6 mb-56 mb-64-sm">
            <div class="about-info-block pr-40-xl">
              <h3 class="mb-24 mb-40-md">{{ .heading | markdownify }}</h3>
              {{ if in (string .text) "\n\n" }}
                {{ .text | markdownify }}
              {{ else }}
                <p>{{ .text | markdownify}}</p>
              {{ end }}
            </div>
          </div>
          {{ end }}
        </div>

        {{ range .Site.Data.about_commercial.bottom.right_column.block }}
        <div class="about-info-block">
          <h3 class="mb-24">{{ .heading }}</h3>
          {{ if in (string .text) "\n\n" }}
            {{ .text | markdownify }}
          {{ else }}
            <p>{{ .text | markdownify}}</p>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
