<aside id="residential-gallery" class="gallery">
  <div class="gallery__inner">
    <div class="container-fluid-max">
      <button class="btn btn-bordered btn-back btn-sm"><i class="icon icon-arrow-left-sm mr-0 mr-8-sm"></i><span class="d-none d-block-sm">Back to Portfolio</span></button>
    </div>
    <div class="slideshow">
      {{ range .Site.Data.portfolio_residential.portfolio_item }}
      <div class="slideshow__item">
        {{ if or .type .address .area .price .architect .design }}
        <div class="slideshow__info">
          <div class="container-fluid-max">
            <h3>Project details <i class="icon-angle-down"></i></h3>
            <div class="slideshow__list">
              <div class="slideshow__list-inner">
                <ul>
                  {{ with .type }}
                      <li><i class="icon icon-new-construction"></i>{{ . }}</li>
                  {{ end }}
                  {{ with .address }}
                      <li><i class="icon icon-location-sm"></i>{{ . }}</li>
                  {{ end }}
                  {{ with .area }}
                      <li><i class="icon icon-size"></i>{{ . }}</li>
                  {{ end }}
                  {{ with .architect }}
                      <li><i class="icon icon-compass"></i><span>Architect:</span> {{ . }}</li>
                  {{ end }}
                  {{ with .design }}
                      <li><i class="icon icon-palette"></i><span>Interior Design:</span> {{ . }}</li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
        <div class="slideshow-inside__controls">
          <button><i class="icon-arrow-left-lg"></i></button>
          <button><i class="icon-arrow-right-lg"></i></button>
        </div>
        <div class="slideshow-inside">
          {{ range .gallery_pictures }}
          <div class="slideshow-inside__item">
            <div class="container-fluid-max">
              <picture>
                {{ $picture :=  replaceRE "(\\s)" "_" .gallery_img }}
                {{ $image_ext_res := path.Ext .gallery_img }}
                <source type="image/webp" data-srcset="{{ replace $picture $image_ext_res ".webp" | relURL }}">
                <img class="img-responsive lazy" data-srcset="{{ $picture | relURL }}" alt="…">
              </picture>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</aside>
