<header class="site-headers">
  <div class="container-fluid-max d-flex justify-content-between align-items-center pl-24 pr-24 pl-80-sm pr-80-sm">
  {{ $slug := (.RelPermalink) }}
  {{ $picture :=  replaceRE "(\\s)" "_" .Site.Params.logo }}
  {{ if eq $slug "/portfolio-commercial/"}}
  <a class="site-header__logo" href="{{ .Site.BaseURL }}#portfolio=commercial"><img src="{{ $picture | relURL }}" alt="{{.Site.Title}}"></a>
  {{ else if eq $slug "/portfolio-residential/"}}
  <a class="site-header__logo" href="{{ .Site.BaseURL }}#portfolio=residential"><img src="{{ $picture | relURL }}" alt="{{.Site.Title}}"></a>
  {{ else }}
  <a class="site-header__logo" href="{{ .Site.BaseURL }}"><img src="{{ $picture | relURL }}" alt="{{.Site.Title}}"></a>
  {{ end }}
  <button class="toggle-menu d-none-sm" type="button">
    <span class="toggle-menu__inner"></span>
  </button>
  <nav class="site-nav">
    <ul>
      {{ range $index, $element := .Site.Menus.main }}
        {{ if eq $.Kind "home" }}
          <li class="site-nav__item">
            <a class="site-nav__link rel-link" href="{{ .URL | relURL }}">{{ .Name }}</a>
          </li>
        {{ else }}
          <li class="site-nav__item {{ if (eq $index 1) }}d-none{{ end }}">
            <a class="site-nav__link rel-link" href="{{ .URL | relURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
        <li class="site-nav__instagram">
          <a href="{{.Site.Data.contact.instagram}}" target="_blank"><i class="icon icon-instagram"></i></a>
        </li>
    </ul>
  </nav>
  </div>
</header>
